html {
  font-size: 62.5%;
  color: #f2ddd9;
  background: url(../img/cover.jpg) no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Asap', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
}

p {
  line-height: 1.7;
}

a {
  text-decoration: none;
  color: #bd294d;
}

a:hover {
  text-decoration: underline;
}

.strong {
  font-weight: bold;
}

.wrapper {
  height: 100%;
  width: 100%;
}

header {
  width: 100%;
  height: 20rem;
  position: relative;
  overflow: hidden;
}

.logo {
  max-height: 50%;
  max-width: 80%;

  width: auto;
  position: absolute;
  z-index: 1;
  opacity: 0;
  animation: fadeIn 3000ms ease forwards, scaleUp 3000ms ease forwards;
}

.main-video {
  z-index: 1;
}

.video-wrapper {
  width: 100%;
  background: black;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
}

.video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

.video__embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.game-desc {
  margin: 4rem auto;
  max-width: 56rem;
}

.game-desc__body {
  opacity: 0;
  animation: fadeIn 1000ms ease forwards;
  animation-delay: 1500ms;
}

.game-desc__body p {
  font-size: 1.8rem;
}

.game-desc__footer {
  margin-top: 4rem;
  opacity: 0;
  animation: fadeIn 1000ms ease forwards;
  animation-delay: 2000ms;
}

.game-desc__thorn {
  width: 7rem;
  margin: 0 2rem;
}

.game-desc__thorn path {
  fill: #3f2d59;
}

.game-desc__thorn--right {
  transform: scaleX(-1);
}

.game-desc__buttons {
  margin-bottom: 8rem;
}

.button {
  text-decoration: none;
  color: #000;
  display: inline-block;
  width: 10rem;
  height: 3.6rem;
  margin: 0 2.5rem;
  background: #f0e9e0;
  line-height: 3.6rem;
  position: relative;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  transition: all 200ms ease;
}

.button:before,
.button:after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
}

.button:before {
  border-top: 1.8rem solid transparent;
  border-bottom: 1.8rem solid transparent;
  border-right: 1.4rem solid #f0e9e0;
  left: -1.4rem;
}

.button:after {
  border-top: 1.8rem solid transparent;
  border-bottom: 1.8rem solid transparent;
  border-left: 1.4rem solid #f0e9e0;
  right: -1.4rem;
}

.button:hover {
  filter: drop-shadow(0 0 0.4rem rgba(255, 255, 255, 0.7));
  letter-spacing: 0.15rem;
  text-decoration: none;
}

.button:active {
  letter-spacing: 0;
}

footer {
  width: 100%;
  /* height: 40rem; */
  background: #111;
}

.studio-logo {
  width: 18rem;
  height: auto;
  margin: 3rem auto 2.8rem;
  display: block;
  opacity: 0.5;
}

.footer-body {
  max-width: 56rem;
  font-size: 1.4rem;
  color: #888;
}

.footer-body p {
  margin: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleUp {
  to {
    transform: scale(1.1);
  }
}
