$hh-black: #000;
$hh-white: #f2ddd9;
$hh-white--dark: #d5c2bf;
$hh-white--darker: #cfc3c3;
$hh-white--darkest: #b3a6a6;
$hh-grey--lightest: #bd959d;
$hh-grey--lighter: #825e65;
$hh-grey--light: #4b3b43;
$hh-grey: #261d22;
$hh-grey--dark: #20181b;
$hh-grey--darker: #0f090c;

$hh-red--light: #e00047;
$hh-red: #b42140;
$hh-red--dark: #7e1229;

$hh-blue--lighter: #4d5ffe;
$hh-blue--light: #2b3fe9;
$hh-blue: #1124cc;
$hh-blue--dark: #051298;
$hh-blue--darker: #0e1661;
$hh-blue--darkest: #090f44;

$hh-purple--light: #a376e3;
$hh-purple: #532596;
$hh-purple--dark: #452c5e;

// Asterika Theme Colors
$aste-blue: #2793ff; // Example blue
$aste-purple: #7026fb; // Example purple
$aste-purple--dark: #5213c8;
$aste-white: #f8f8fa; // Slightly grey white
$aste-cyan: #7fffd4; // Example cyan (Aquamarine)
$aste-magenta: #ff00ff; // Example magenta
$aste-grey-dark: #333; // Darker text/elements on light background
